%h1 New Order
%form.form-horizontal{'data-formfor-order' => 'order', 'data-event-submit' => 'create'}
  %fieldset
    #error-explanation.alert-message{'data-showif' => 'order.errors.length'}
      %b
        Errors that need to be corrected:
      %ul
        %li{'data-foreach-error' => 'order.errors', 'data-bind' => 'error.fullMessage'}
    %label.lbl_50{:for => 'order_barista'} Barista:
    %div.mt_5
    %select{'data-bind' => 'order.barista'}
      %option
      %option{'data-foreach-barista' => 'baristas', 'data-bind' => 'barista'}
    %div.mt_30
      %input.btn.btn-primary{type: 'submit', value: 'Create Order'}
%div.mt_30
  %a{'data-route' => 'routes.orders'} Back