<h1>Edit Drink</h1>
<form class='form-horizontal' data-event-submit='update' data-formfor-drink='drink'>
<fieldset>
<div class='alert-message' data-showif='drink.errors.length' id='error-explanation'>
<b>
Errors that need to be corrected:
</b>
<ul>
<li data-bind='error.fullMessage' data-foreach-error='drink.errors'></li>
</ul>
</div>
<label class='lbl_50'>Name:</label>
<div class='mt_5'>
<input data-bind='drink.name'>
</div>
<label class='lbl_150'>Price:</label>
<div class='mt_5'>
<input data-bind='drink.price'>
</div>
<label class='lbl_50'>Size:</label>
<div class='mt_5'></div>
<select data-bind='drink.size'>
<option data-bind='size' data-foreach-size='sizes'></option>
</select>
<div class='mt_20'>
<input class='btn btn-primary' type='submit' value='Update Drink'>
</div>
</fieldset>
</form>
<div class='mt_30'>
<a data-route='routes.drinks'>Back</a>
</div>
